@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
  font-family: 'Noto Sans', sans-serif;
  -webkit-text-size-adjust: 100%;

}
.tier-list{
  margin-left: 2%;
}
.deck-list{
  margin-left: 2%;
}
#hs-logo{
  display: block;
  margin-left: 65%;
  margin-right: auto;
  /* width: 50%; */
}
#credits a{
  text-decoration: none;
  color: slategray;
}